@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  /*Text*/
  --color-text-light: #120e0d;
  --color-text-dark: #f5f6f7;
  /*Background*/
  --color-bg-light: #faf6f5;
  --color-bg-dark: #1c1e21;
  /*SecondBackground*/
  --color-bg-2-light: #eeeaea;
  --color-bg-2-dark: #10101a;
  /*Primary*/
  --color-primary-light: #c96645;
  --color-primary-dark: #5468ff;
  /*Aspect*/
  --aspect-retro: 4 / 5;
}
